body{
    background-color: beige;
    padding: 0;
    margin: 0;
    position: relative;
   
}
.hidden{
    display: none;
}
.container{
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

/* weather */
.container .weather{
    padding: 2vh 2vh;
    justify-self: flex-end;
}
.container #weather{
    display: flex;
    flex-direction: column;
}

/* info */
.container .info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 0;
}
/* greeting */
h1 {
    -webkit-text-stroke: 0.5px whitesmoke;
}
/* todo */
.container .todo ul{
    border: 2px solid white;
    width: 500px;
    height: 200px;
    overflow: scroll;
}
.container .todo{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 200px;
    
}

/* quotes */
.container .qutoes{
    padding: 2vw;
    margin: 0;
    width: 100vw;
}